.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 20px;
    margin: 0 1rem;
}

.prod-div {
    align-items: center;
    text-decoration: center;
}

.input-div {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.input-div input {
    width: 70%;
    padding: 1rem;
    font-size: 1.3rem;
    justify-content: center;
}

.input-div button {
    margin-left: 10px;
    padding: 1rem;
    font-size: 1.3rem;
    background-color: black;
    color: white;
    cursor: pointer
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    padding: .3rem 0;
    text-align: center;
    background-color: rgb(139, 139, 139);
}

.navbar-container .nav-brand {
    display: flex;
    align-self: center;
    cursor: pointer;
}

.navbar-container .nav-brand img {
    width: 75px;
    height: 55px;
}


.navbar-container .nav-brand h1 {
    margin-top: 4px;
    text-align: center;
}

.navbar-container .about {
    align-self: center;

}

.navbar-container h2 {
    margin-right: 2rem;
    cursor: pointer;
}

.about-container {
    margin: 2rem 4rem;
}

.about-container li {
    margin: 1rem;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .navbar-container .nav-brand {
        font-size: .7rem;
    }

    .navbar-container h1 {
        text-align: center;
    }

    .navbar-container {
        height: 55px;
    }

    .navbar-container h2 {
        font-size: 1rem;
    }

    .products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .products h2 {
        font-size: 1rem;
    }

    .input-div {
        display: flex;
        justify-content: center;
        padding: 1rem;
    }

    .navbar-container .nav-brand img {
        width: 50px;
        height: 34px;
    }

    .input-div input {
        width: 70%;
        padding: .6rem;
        font-size: 1rem;
        justify-content: center;
    }

    .input-div button {
        margin-left: 10px;
        padding: .6rem;
        font-size: .9rem;
        background-color: black;
        color: white;
        cursor: pointer
    }

}